<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="well text-center">Hospitals</h1>
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-hover" id="admin-table">
        <thead>
        <tr >
          <th class="text-center">Registration No.</th>
          <th class="text-center">Hospital</th>
          <th class="text-center">License No.</th>
          <th class="text-center">Address</th>
          <th class="text-center">Phone No.</th>
          <th class="text-center">Status</th>
        </tr>
        </thead>
        <tbody>

        <!--<ng-container *ngFor="let doclist of doctorList">-->
          <tr>
            <td class="text-capitalize">123</td>
            <td class="text-capitalize">mahesh maharjan pvt ltd</td>
            <td class="text-capitalize">123</td>
            <td class="text-capitalize">abc ,kathmandu</td>
            <td class="text-center text-capitalize">9849438183</td>
            <td class="text-center text-capitalize">
              <button class="btn btn-sm btn-primary">Inavtive</button>
            </td>
          </tr>

        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr> <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr> <tr>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">mahesh maharjan pvt ltd</td>
          <td class="text-capitalize">123</td>
          <td class="text-capitalize">abc ,kathmandu</td>
          <td class="text-center text-capitalize">9849438183</td>
          <td class="text-center text-capitalize">
            <button class="btn btn-sm btn-primary">Inavtive</button>
          </td>
        </tr>
        <!--</ng-container>-->
        </tbody>
      </table>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
