h1{
  /*background: #3498db;*/
  color: #3498db;
  font-weight: bold;
  letter-spacing: 11px;
  font-size: 40px;
  text-transform: uppercase;
  padding: 5px 0;
}

.custom-button{
  padding: 5px 16px !important;
}
