<div class="container fix-nav-padding">
  <div class="fix-nav-padding"></div>
  <div class="row blood">
    <div class="col-md-8" style="padding-left: 0">
      <h2 class="block-title pull-left">Events</h2>
      <div class="blood-borN="let event of eventList">
      <div class="row">
        <div class="col-md-2">
          <h3>{{event.hospital.name}}</h3>
        </div>
        <div class="col-md-9">
          <p class="blood-dates pull-left"><b>Date : </b>{{event.dates}}</p>
          <p class="blood-dates pull-right"><b>Time : </b>{{event.time}}</p>
          <div class="clearfix"></div>
          <p class="blood-description">
            {{event.description}}
          </p>
          <p class="contact"><b>Contact : </b>{{event.hospital.contact.contactNumber1}}</p>
          <p class="location"><b>Location : </b>{{event.location}}</p>
        </div>
      </div>
      <hr>
    </ng-container>
  </div>
  <div class="right">
    <div class="row left-padding">
      <ng-container *ngFor="let bloodPost of bloodPostList">
        <div class="event">
          <h4>{{bloodPost.bloodGroup.image}}</h4>
          <p>Location: {{bloodPost.location}}</p>
          <p>Required Date: {{bloodPost.deadline}}</p>
        </div>
      </ng-container>
    </div>
  </div> <!-- /.right -->
</div><!-- /.container -->
