<button type="button" class="btn btn-primary pull-right add-blood" data-toggle="modal" data-target="#myEventModal">
  Add Event
</button>

<!-- Add Event Modal -->
<div class="modal fade" id="myEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Blood</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="event" class="col-sm-3 control-label">Event Title: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="event" id="event" placeholder="Event Title...">
            </div>
          </div>

          <div class="form-group">
            <label for="dates" class="col-sm-3 control-label">Date: </label>
            <div class="col-sm-9">
              <input type="date" class="form-control" name="dates" id="dates" placeholder="Event Date...">
            </div>
          </div>

          <div class="form-group">
            <label for="location" class="col-sm-3 control-label">Location: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="location" id="location" placeholder="Event Location...">
            </div>
          </div>

          <div class="form-group">
            <label for="contact" class="col-sm-3 control-label">Contact: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact...">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description: </label>
            <div class="col-sm-9">
              <textarea class="form-control" name="description"
                        name="description" id="description" placeholder="Description..."
                        cols="30" rows="5"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Post</button>
      </div>
    </div>
  </div>
</div>


<!-- Yo Hata haii-->


