@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  margin-top: 70px;
  background-color: rgba(229, 233, 237, 0.29);
  /*background: black;*/
}

.no-margin-top{
  margin-top: 0;
}


.error-border{
  border: 1px solid red;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border: 1px solid red;
}

.help-block{
  color: red;
}

.inline-block{
  display: inline-block;
}

.custom-label-alert{
  padding: 8px !important;
  font-weight: 700;
  margin-bottom: 0;
}

input.ng-dirty.ng-valid, select.ng-dirty.ng-valid{
  border-left: 5px solid green;
}

/* LOADING */
#loading-msg{
  font-size: 30px;
  padding-left: 570px;
  padding-top: 180px;
}

/* Loading */
.spinner{
  width: 80px;
  height: 80px;
  border-top:3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 3s infinite linear;
}
.spinner-1{
  width: 60px;
  height: 60px;

  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 2s infinite linear;
}
.spinner-2{
  width: 40px;
  height: 40px;

  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}





