@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  margin-top: 70px;
  background-color: rgba(229, 233, 237, 0.29);
  /*background: black;*/
}

.no-margin-top{
  margin-top: 0;
}


.error-border{
  border: 1px solid red;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border: 1px solid red;
}

.help-block{
  color: red;
}

.inline-block{
  display: inline-block;
}

.custom-label-alert{
  padding: 8px !important;
  font-weight: 700;
  margin-bottom: 0;
}

input.ng-dirty.ng-valid, select.ng-dirty.ng-valid{
  border-left: 5px solid green;
}

/* LOADING */
#loading-msg{
  font-size: 30px;
  padding-left: 550px;
  padding-top: 220px;
}





