.navbar{
  margin-bottom: 0;
  border-bottom: none;
}

.navbar, .dropdown-menu{
  background: #344f61;
}

.navbar a{
  color: #dbeafb;
}

.dropdown-menu a{
  color: #dbeafb !important;
}

.navbar ul li a{
  font-size: 15px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}

.navbar ul li:hover a{
  color: #F4F4F4;
  font-size: 16px;
}

.navbar li.active{
  background: #F7F8F9;
}

.navbar li.active>a{
  color: #000;
  font-weight:bold;
}

.navbar li.active:hover a{
  color: #000 !important;
}

.hand-pointer{
  cursor: pointer;
}

.padding-left{
  display: block;
  padding: 7px 21px;
}

.padding-left:hover{
  background-color: white;
}

.paddding-left:hover{
  color: #f4f4f4;
}

.no-padding-left{
  padding-left:0;
}

.img-custom{
  height: 50px;
  width: 50px;
  position: relative;
  top: -15px;
  left: 10px;
}

hr{
  margin: 0;
}


