<div class="row">
  <div class="col-md-3 col-sm-12 text-center profile-background">
    <img src='../../assets/images/{{doctor.photo}}' class="custom-image">
    <br>{{doctor.name}}
    <br>{{doctor.speciality.name}}
    <br>{{doctor.details}}
  </div>
  <ng-container *ngFor="let hospital of hospitalList">
  <div class="col-md-4 col-md-offset-3">
    <p>{{hospital.name}}</p>
    <p>Schedule</p>
    <table class="table">
      <ng-container *ngFor="let schedule of hospital.schedules">
      <tr>
        <td>{{schedule.days.day}}</td>
        <td>00</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>00</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>00</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>00</td>
      </tr>
      <tr>
        <td>Thrusday</td>
        <td>00</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>00</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>00</td>
      </tr>
      </ng-container>
    </table>
  </div>
  <div class="col-md-5">
    <p>Map</p>
    <ngui-map zoom="14" center="basantapur, kathmandu, Nepal">
      <marker position="basantapur" draggable="true"></marker>
    </ngui-map>
  </div>
  </ng-container>
</div>
