<div class="container-fluid">
  <div class="row animated fadeIn">
    <div class="col-md-3 col-sm-12 text-center profile-background">
      <img src="../../assets/images/mahesh.jpg" alt="" class="custom-image">
     <p class="doctorName">Dr. Mahesh Maharjan</p>
      <p class="doctorSpeciality">Speciality</p>
      <p class="doctorGender">Male</p>
      <p class="doctorEmail">mahesh.mrzn@gmail.com</p>
    </div>

    <div class="col-md-4 col-md-offset-3">
      <p class="text-capitalize"><b>Hospital Name</b></p>
      <p class="text-center"><b>Schedule</b></p>
      <table class="table table">
        <tr>
          <td><b>Sunday</b></td>
          <td>00</td>
        </tr>
        <tr>
          <td>Monday</td>
          <td>00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>00</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>00</td>
        </tr>
        <tr>
          <td>Thrusday</td>
          <td>00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>00</td>
        </tr>
      </table>
    </div>
    <div class="col-md-5">
      <p>Map</p>
      <ngui-map zoom="14" center="basantapur, kathmandu, Nepal">
        <marker position="basantapur" draggable="true"></marker>
      </ngui-map>
    </div>
  </div>

</div>
