<div class="container">
  <div class="row">
    <div class="col-md-6 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" name="name" #name="ngModel" [(ngModel)]="doctor.name">{{doctor.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3" align="center"> <img alt="User Pic"
                                                       src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg"
                                                       class="img-circle img-responsive"> </div>
            <div class=" col-md-9">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>NMC Number</td>
                  <td name="nmc" #nmc="ngModel" [(ngModel)]="doctor.nmcNumber">{{doctor.nmcNumber}}</td>
                </tr>
                <tr>
                  <td>Qualification</td>
                  <td name="qualification" #qualification="ngModel" [(ngModel)]="doctor.qualification">{{doctor.qualification}}</td>
                </tr>
                <tr>
                  <td>Speciality</td>
                  <td name="speciality" #speciality="ngModel" [(ngModel)]="doctor.speciality">{{doctor.speciality}}</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td name="gender" #gender="ngModel" [(ngModel)]="doctor.gender">{{doctor.gender}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td name="email" #email="ngModel" [(ngModel)]="doctor.contact.emailId">{{doctor.contact.emailId}}</td>
                </tr>
                <tr>
                  <td>Contact Number</td>
                  <td name="primaryNumber" #primaryNumber="ngModel" [(ngModel)]="doctor.contact.contactNumber1">{{doctor.contact.contactNumber1}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td name="secondaryNumber" #secondaryNumber="ngModel" [(ngModel)]="doctor.contact.contactNumber2">{{doctor.contact.contactNumber2}}</td>
                </tr>
                <tr>
                  <td>Details</td>
                  <td name="details" #details="ngModel" [(ngModel)]="doctor.details">{{doctor.details}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-warning" routerLink="/update">
            Edit
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Doctor Schedule</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <table class="table">
                <tbody class="text-center">
                <tr>
                  <th class="text-center">Day</th>
                  <th class="text-center">Time</th>
                  <th class="text-center">Action</th>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Monday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>2:00 pm to 4:00 pm</td>
                  <td>
                    <button class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-info" routerLink="/update">
            Add
          </button>
        </div>

    </div>
  </div>
</div>
