.top-margin{
  margin-top: 15%;
}

.no-padding{
  padding: 0 !important;
}

#doctor-search input[type="text"]{
  border-radius: 17px;
  width: 90%;
  display: inline-block;
}

.img-custom{
  height: 70px;
  width: 335px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}

/* search dropdown */
.search-result{
  border-bottom: 1px solid #66AFE9;
  /*border-left: 1px solid #66AFE9;*/
  /*border-right: 1px solid #66AFE9;*/
  width: 505px;
  height: 30px;
  padding: 5px 0 5px 25px;
  background-color: white;
  cursor: pointer;
  text-align: left;
}
.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}
