<div id="background">
  <div class="container">
    <div class="row top-margin animated fadeInDown">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src="../../assets/images/findlogo.png" class="img-responsive img-custom" alt="">
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 animated fadeInUp">
        <form id="doctor-search" class="text-center" #searchform="ngForm" (onsubmit)="doctorDetails(searchDoctor.value)">
          <input type="text" name="searchDoctor" class="form-control" placeholder="Search Your Doctor..."
                 id="searchDoctor" (keyup)="search(searchDoctor.value)" #searchDoctor>
          <span class="glyphicon glyphicon-search custom-search"></span>
          <input type="submit" class="custom-submit">

          <div *ngFor="let hospitalDoctor of hospitalDoctorList" class="search-result"
               (click)="doctorDetails(hospitalDoctor)">
            {{ hospitalDoctor }}
          </div>
        </form>
      </div>

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div>
