.top-margin{
  margin-top: 15%;
}

.no-padding{
  padding: 0 !important;
}

.no-margin-buttom{
  margin:0;
}

#doctor-search input[type="text"]{
  border-radius: 19px;
  width: 90%;
  display: inline-block;
  height: 38px;
}

.img-custom{
  height: 80px;
  width: 335px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}

/* search dropdown */
.search-result{
  border-bottom: 1px solid #66AFE9;
  width: 496px;
  height: 30px;
  padding: 5px 0 5px 25px;
  background-color: white;
  cursor: pointer;
  text-align: left;
  margin: 1px 0 0 30px;
}
.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

.custom-submit{
  display: none;
}

.custom-search{
  position: absolute;
  top: 13px;
  left: 512px;
}

#background{
  background: url("../../assets/images/background.jpg");
  height: 92.3vh;
  margin-top: -20px;
  overflow: hidden;
  /*padding-bottom: 268px;*/
  /*padding-bottom: 258px;*/
  /*padding-top: 45px;*/
}



/*Blood*/
.outer-blood{
  color: #fff;
  width: 170px;
  margin: 35px 0 0 10px;
}

.blood-container{
  width: 100px;
}

.blood-container span{
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  bottom: 25px;
}

.blood-image{
  height:120px;
  width:120px;
}



