.top-margin{
  margin-top: 15%;
}

.no-padding{
  padding: 0 !important;
}

#doctor-search input[type="text"]{
  border-radius: 17px;
  width: 90%;
  display: inline-block;
}

.img-custom{
  height: 70px;
  width: 335px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}
