<div class="container">
<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form  #loginForm="ngForm" (ngSubmit)="onlogin()">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username"
                name="username" [(ngModel)]="user.username" #username="ngModel" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <div *ngIf="username.errors && username.touched" class="alert alert-danger custom-label-alert">
        <span [hidden]="!username.errors.required">Username is required</span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password"
              name="password" [(ngModel)]="user.password" #password="ngModel" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div *ngIf="password.errors && password.touched" class="alert alert-danger custom-label-alert">
        <span [hidden]="!password.errors.required">Username is required</span>
      </div>

      <div class="row">
        <div class="col-xs-8">
            <label><input type="checkbox"> Remember Me</label>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.valid">Log In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat" disabled><i class="fa fa-facebook icon-pos"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat" disabled><i class="fa fa-google-plus icon-pos"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a routerLink="/register" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</div>

