<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pull-left no-margin-top">Doctors</h2>
      <form>
        <button class="btn btn-success pull-right" routerLink="/register-doctor">Add Doctor</button>
      </form>
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-hover" id="hospital-panel-table">
        <thead>
        <tr >
          <th class="text-center">Name</th>
          <th class="text-center">Speciality</th>
          <th class="text-center">Contact</th>
          <th class="text-center">Photo</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>

        <ng-container *ngFor="let doclist of doctorList">
        <tr>
          <td>{{ doclist.name }}</td>
          <td>{{doclist.speciality.name}}</td>
          <td>{{doclist.contact.contactNumber1}}</td>
          <td class="no-padding text-center"><img src="../../assets/images/{{doclist.photo}}" class="img-circle" alt="doctor's image" width="75" height="75"></td>
          <td class="text-center"><a href="" class="btn btn-sm btn-danger">Inactive</a></td>
          <td class="text-center">
            <button [routerLink]="['/profile',doclist.id]" class="btn btn-sm btn-primary">Details</button>
          </td>
        </tr>
        </ng-container>

        </tbody>
      </table>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
