<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pull-left no-margin-top">Doctors</h2>
      <form>
        <button class="btn btn-success pull-right">Add Doctor</button>
      </form>
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-hover" id="hospital-panel-table">
        <thead>
        <tr >
          <th class="text-center">Name</th>
          <th class="text-center">Speciality</th>
          <th class="text-center">Contact</th>
          <th class="text-center">Photo</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Mahesh</td>
          <td>Head</td>
          <td>9849438183</td>
          <td class="no-padding text-center"><img src="../../assets/images/mahesh.jpg" class="img-circle" alt="doctor's image" width="75" height="75"></td>
          <td class="text-center"><a href="" class="btn btn-sm btn-success">Active</a></td>
          <td class="text-center">
            <a href="" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-user"></span>  Details</a>
            <a href="" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span>  Update</a>
          </td>
        </tr>

        <tr>
          <td>Mahesh</td>
          <td>Head</td>
          <td>9849438183</td>
          <td class="no-padding text-center"><img src="../../assets/images/mahesh.jpg" class="img-circle" alt="doctor's image" width="75" height="75"></td>
          <td class="text-center"><a href="" class="btn btn-sm btn-success">Active</a></td>
          <td class="text-center">
            <a href="" class="btn btn-sm btn-primary">Details</a>
            <a href="" class="btn btn-sm btn-warning">Update</a>
          </td>
        </tr>

        <tr>
          <td>Mahesh</td>
          <td>Head</td>
          <td>9849438183</td>
          <td class="no-padding text-center"><img src="../../assets/images/mahesh.jpg" class="img-circle" alt="doctor's image" width="75" height="75"></td>
          <td class="text-center"><a href="" class="btn btn-sm btn-danger">Inactive</a></td>
          <td class="text-center">
            <a href="" class="btn btn-sm btn-primary">Details</a>
            <a href="" class="btn btn-sm btn-warning">Update</a>
          </td>
        </tr>

        <tr>
          <td>Mahesh</td>
          <td>Head</td>
          <td>9849438183</td>
          <td class="no-padding text-center"><img src="../../assets/images/mahesh.jpg" class="img-circle" alt="doctor's image" width="75" height="75"></td>
          <td class="text-center"><a href="" class="btn btn-sm btn-success">Active</a></td>
          <td class="text-center">
            <a href="" class="btn btn-sm btn-primary">Details</a>
            <a href="" class="btn btn-sm btn-warning">Update</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
