<div class="container fix-nav-padding">
  <div class="fix-nav-padding"></div>
  <div class="row blood">
    <div class="col-md-8" style="padding-left: 0">

      <h2 class="block-title pull-left">Blood</h2>
      <button type="button" class="btn btn-primary pull-right add-blood" data-toggle="modal" data-target="#myModal">
        Add Blood
      </button>
      <div class="blood-border-buttom clearfix"></div>

    </div>
    <div class="col-md-offset-1 col-md-3">
      <h2 class="block-title">Events</h2>
      <div class="blood-border-buttom"></div>
    </div>
  </div>
  <div class="row blood">
    <div class="left">
      <div class="row">
        <div class="col-md-2">
          <img src="">
        </div>
        <div class="col-md-9">
          <p class="blood-date pull-left"><b>Posted : </b>2017-04-29</p>
          <p class="blood-date pull-right"><b>Till : </b>2017-04-12</p>
          <div class="clearfix"></div>
          <p class="blood-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate distinctio doloribus error fuga fugit natus nihil nostrum pariatur, provident quae quam repudiandae sed, sunt temporibus unde voluptate, voluptates voluptatum.
          </p>
          <p class="contact"><b>Contact:</b>9849438183</p>
          <p class="location"><b>Location:</b>Somewhere on this earth</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <img src="images/blood.jpg">
        </div>
        <div class="col-md-9">
          <p class="blood-date pull-left"><b>Posted : </b>2017-04-29</p>
          <p class="blood-date pull-right"><b>Till : </b>2017-04-12</p>
          <div class="clearfix"></div>
          <p class="blood-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate distinctio doloribus error fuga fugit natus nihil nostrum pariatur, provident quae quam repudiandae sed, sunt temporibus unde voluptate, voluptates voluptatum.
          </p>
          <p class="contact"><b>Contact:</b>9849438183</p>
          <p class="location"><b>Location:</b>Somewhere on this earth</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <img src="../../assets/images/blood.jpg">
        </div>
        <div class="col-md-9">
          <p class="blood-date pull-left"><b>Posted : </b>2017-04-29</p>
          <p class="blood-date pull-right"><b>Till : </b>2017-04-12</p>
          <div class="clearfix"></div>
          <p class="blood-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate distinctio doloribus error fuga fugit natus nihil nostrum pariatur, provident quae quam repudiandae sed, sunt temporibus unde voluptate, voluptates voluptatum.
          </p>
          <p class="contact"><b>Contact:</b>9849438183</p>
          <p class="location"><b>Location:</b>Somewhere on this earth</p>
        </div>
      </div>
      <hr>
    </div>

    <div class="right">
      <div class="row left-padding">
       <div class="event">
         <h4>Event Heading</h4>
         <p>Location: nowhere</p>
         <p>Date: 2017-12-6</p>
         <p>Time: 8AM - 10AM</p>
       </div>
        <div class="event">
          <h4>Event Heading</h4>
          <p>Location: nowhere</p>
          <p>Date: 2017-12-6</p>
          <p>Time: 8AM - 10AM</p>
        </div>
      </div>
    </div>


  </div> <!-- /.row -->
</div><!-- /.container -->


<!-- Add Blood Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Blood</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="blood" class="col-sm-3 control-label">Blood Group: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="blood" id="blood"
                     placeholder="Blood Group..." required>
            </div>

            <div *ngIf="blood.errors && blood.touched" class="alert alert-danger custom-label-alert">
              <span [hidden]="!blood.errors.pattern">Number must be 9-10 digit only</span>
            </div>
          </div>

          <div class="form-group">
            <label for="deadline" class="col-sm-3 control-label">Required Date: </label>
            <div class="col-sm-9">
              <input type="date" class="form-control" name="deadline" id="deadline" placeholder="Required Date...">
            </div>
          </div>

          <div class="form-group">
            <label for="location" class="col-sm-3 control-label">Location: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="location" id="location" placeholder="Location...">
            </div>
          </div>

          <div class="form-group">
            <label for="contact" class="col-sm-3 control-label">Contact: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact...">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description: </label>
            <div class="col-sm-9">
              <textarea class="form-control" name="description"
                        name="description" id="description" placeholder="Description..."
                        cols="30" rows="5"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Post</button>
      </div>
    </div>
  </div>
</div>


